body{
    margin: 0;
}

header{
    margin: 0;
    padding: 7.5px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

figure{
    margin: 0;
}

.bedu{
    display: inline-flex;
    justify-items: left;
}

.menu{
    display: inline;
    justify-items: right;
}

.bottom{
    text-decoration: none;
    margin: 5px;
    color: #fff;
}

.hero{
    background-image: url(../images/img_cover_home.jpg);
    background-size: cover;
    background-position: top center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    margin: 0;
    margin-top: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
}

h3{
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
}